@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@property --x-offset{
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%;
  }

@property --y-offset{
syntax: '<percentage>';
inherits: false;
initial-value: 70%;
}


.radiant-background {
    background: radial-gradient(circle at var(--x-offset) var(--y-offset),rgba(82, 76, 105, 1) 18%, rgba(252, 93, 93, 1) 56%, rgba(255, 237, 36, 1) 92%);
    animation: slide-background 10s infinite linear;
}

@keyframes slide-background {
    0% {
        --x-offset: 50%;
        --y-offset: 70%;
    }

    25% {
        --x-offset: 70%;
        --y-offset: 50%;
    }

    50% {
        --x-offset: 50%;
        --y-offset: 30%;
    }

    75% {
        --x-offset: 30%;
        --y-offset: 50%;
    }
}