<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% block stylesheets %}
    {% set styles = ['output.css'] if styles is not defined else ['output.css'] + styles %}
    {% for style in styles %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/' + style) }}">
    {% endfor %}
    {% endblock %}
    {% block scripts %}
    {% set scripts = ['htmx.min.js'] + scripts if scripts is defined else ['htmx.min.js'] %}
    {% for script in scripts %}
      <script src="{{ url_for('static', filename='js/' + script) }}"></script>
    {% endfor %}
    {% endblock %}
    {% if __brim_template_signature is defined %}
      <script>
      document.addEventListener("htmx:afterSwap", function(detail) {
        if (detail.target.nodeName == "BODY") {
          setTimeout(function() {
            const cssFile = document.querySelector(`link[href*="output.css"]`);
            let cssFileUrl = new URL(cssFile.href);
            cssFileUrl.searchParams.set("t", new Date().getTime().toString());
            cssFile.href = cssFileUrl.toString();
          }, 100)
        } 
      })
      </script>
    {% endif %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% if g._brim_template_signature is defined %}
      <div style="display: none;" hx-get="{{ g._brim_template_url }}" hx-target="body" hx-trigger="every .5s" hx-swap="innerHTML"></div>
    {% endif %}
  </body>
</html>