{% set styles = ['index.css'] if styles is not defined else ['index.css'] + styles %}
{% extends "base.html.jinja" %}
{% block content %}
<main>
    <section>
        <h1>Brim is now ready</h1>
        <h2>Change this file as you please</h2>
    </section>
    <section hx-get="{{ url_for('home.stats') }}" hx-trigger="every 2s" hx-swap="innerHTML">
        {{ htmx_stats() }}
    </section>
</main>
{% endblock %}